<div class="row">
    <div class="col-md-12">
          <br>
          <h2>Students</h2>
          <hr />

          <% if (students && students.length > 0) { %>
            <% students.forEach(student => { %>
                <%= student.firstName %> <%= student.lastName %><br>
            <% }); %>
        <% } else { %>
            <p><%= message || "No students to display." %></p>
        <% } %>


    </div>
</div>
